
footer{
	background-color: #000;
	padding: 2rem 0;

	.container{
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 1fr 1fr 1fr; 
		gap: 0px 0px; 
		grid-template-areas: 
			"input input"
			"links1 links2"
			"social social"; 
		align-items: center;
		row-gap: 1rem;

		.footer-form {
			grid-area: input;
			display: flex;
			justify-content:center;

			input{
				padding: .8rem 2rem;
    			border-radius: 1.5rem;

				&:focus{
					outline: none;
				}
			}
		}
		.footer-logo {
			grid-area: social; 
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			img{
				width: 200px;
			}
			&__social{
				li{
					display: inline;
					color: #fff;
				}
			}
		}

		.footer-links1, .footer-links2{
			color:#fff;
			text-align: center;
		}
		.footer-links1 { grid-area: links1; }
		.footer-links2 { grid-area: links2; align-self: start;}
	}

}