/*<!-- Estilos generales --->*/

/* ### Primario ### */
$color-orange: rgb(242, 95, 58);
$color-blue: rgb(35, 44, 81);

/* ### Neutro ### */
$colora-zul-grisaceo-oscuro: rgb(143, 148, 167);
$color-azul-muy-oscuro: rgb(29, 30, 37);
$color-rojo-muy-palido: rgb(255, 239, 234);
$color-variante-gris-claro: rgb(249, 249, 249);

$color-gray: #b3b3b3;



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: "Be Vietnam", sans-serif;
    background-color: #fff;
    font-size: 16px;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    padding: 0 .5rem;
}

button {
    padding: .8rem 2rem;
    border-radius: 1.5rem;
    border: none;
    font-weight: 500;
    text-transform: capitalize;
}
button.btn-orange{
    background-color: $color-orange;
    color: #fff;
    transition: all .3s;
    
    &:hover{
        cursor: pointer;
        background-color: rgba($color: $color-orange, $alpha: .7);
        box-shadow: rgba($color: $color-orange, $alpha: 0.8) 0px 6px 25px -8px;
    }
}
button.btn-white{
    background-color: #fff;
    color: $color-orange;
    transition: all .3s;
    font-weight: 600;
    
    &:hover{
        cursor: pointer;
        box-shadow: rgba($color: #fff, $alpha: 0.8) 0px 6px 15px -8px;
        color: rgba($color: $color-orange, $alpha: 0.6);
    }
}

a{
    color: $color-blue;

    &:hover{
        color: $color-gray;
    }
}
