@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*<!-- Estilos generales --->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Be Vietnam", sans-serif;
  background-color: #fff;
  font-size: 16px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 .5rem;
  margin: 0 auto;
}

button {
  padding: .8rem 2rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 500;
  text-transform: capitalize;
}

button.btn-orange {
  background-color: #f25f3a;
  color: #fff;
  transition: all .3s;
}

button.btn-orange:hover {
  cursor: pointer;
  background-color: rgba(242, 95, 58, 0.7);
  box-shadow: rgba(242, 95, 58, 0.8) 0px 6px 25px -8px;
}

button.btn-white {
  background-color: #fff;
  color: #f25f3a;
  transition: all .3s;
  font-weight: 600;
}

button.btn-white:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 6px 15px -8px;
  color: rgba(242, 95, 58, 0.6);
}

a {
  color: #232c51;
}

a:hover {
  color: #b3b3b3;
}

header {
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

header .navbar {
  padding: 1rem .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar__logo {
  margin-top: 8px;
}

header .navbar__links, header .navbar__btn {
  display: none;
}

header .navbar__menu-btn {
  color: #232c51;
}

header section.hero {
  padding: 1rem 0;
}

header section.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header section.hero .hero__illustration img {
  width: 100%;
  margin: 1rem 0;
}

header section.hero .hero__content {
  text-align: center;
}

header section.hero .hero__content h1 {
  color: #232c51;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.035em;
}

header section.hero .hero__content p {
  margin: 1.5rem 0;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 16.5584px;
  line-height: 157.1%;
  color: #8f94a7;
}

header .shape {
  position: absolute;
  z-index: -1;
  top: -70px;
  right: -100px;
  width: 110%;
}

@media (min-width: 1430px) {
  header .navbar__logo {
    margin-top: 4px;
  }
  header .navbar__links, header .navbar__btn {
    display: block;
  }
  header .navbar__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  header .navbar .navbar__menu-btn {
    display: none;
  }
  header section.hero {
    padding: 2rem 0 0 0;
  }
  header section.hero .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header section.hero .container .hero__illustration {
    order: 1;
  }
  header section.hero .container .hero__illustration img {
    width: 100%;
    margin: 0;
  }
  header section.hero .container .hero__content {
    text-align: left;
    width: 35%;
  }
  header section.hero .container .hero__content h1 {
    color: #232c51;
    font-size: 3rem;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.035em;
  }
  header section.hero .container .hero__content p {
    margin: 1.5rem 0;
    padding: 0;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    color: #8f94a7;
  }
  header .shape {
    display: none;
  }
}

main section.manage {
  margin-top: 1.5rem;
  padding: 1rem 0;
}

main section.manage .manage__title {
  text-align: center;
}

main section.manage .manage__title h2 {
  color: #232c51;
  margin-bottom: 1.6rem;
  line-height: 144%;
  padding: 0 5rem;
  font-weight: 700;
}

main section.manage .manage__title p {
  margin: 1.5rem 0;
  color: #8f94a7;
  font-weight: 500;
  font-size: 1rem;
  line-height: 171.1%;
}

main section.manage .manage__list .manage__list-item {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
}

main section.manage .manage__list .manage__list-item button {
  width: 20%;
  padding: .7rem 1rem;
}

main section.manage .manage__list .manage__list-item p.item-title {
  color: #232c51;
  font-weight: 700;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: -0.015em;
}

main section.manage .manage__list .manage__list-item p.item-desc {
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #8f94a7;
  margin-left: 4.5rem;
}

main section.testimonials {
  margin-top: 1.5rem;
  text-align: center;
}

main section.testimonials .testimonials__title {
  text-align: center;
}

main section.testimonials .testimonials__title h2 {
  color: #232c51;
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: -0.01em;
}

main section.testimonials .testimonials__carousel {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section.testimonials .testimonials__carousel .testimonials__carousel-item {
  position: relative;
  margin: 2rem 0;
  background-color: #f9f9f9;
  padding: 2rem 1rem;
}

main section.testimonials .testimonials__carousel .testimonials__carousel-item img {
  width: 65px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

main section.testimonials .testimonials__carousel .testimonials__carousel-item .card-name {
  margin: 1rem;
  color: #232c51;
  font-weight: 700;
}

main section.testimonials .testimonials__carousel .testimonials__carousel-item .card-desc {
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 5x00;
  line-height: 25px;
  letter-spacing: 0em;
}

main section.call {
  position: relative;
  background-color: #f25f3a;
  margin-top: 2rem;
  text-align: center;
  padding: 5rem 1rem;
}

main section.call .container {
  position: relative;
  z-index: 1;
}

main section.call .container h2 {
  color: #fff;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.005em;
}

main section.call img.shape-call {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

@media (min-width: 1430px) {
  main section.manage {
    margin-top: 1.5rem;
    padding: 3rem 0;
  }
  main section.manage .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main section.manage .manage__title {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding-right: 6rem;
  }
  main section.manage .manage__title h2 {
    font-size: 2.2rem;
    line-height: 41px;
    letter-spacing: 0em;
    padding: 0;
  }
  main section.manage .manage__title p {
    margin: 1.5rem 0;
    padding-right: 2.5rem;
  }
  main section.manage .manage__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  main section.manage .manage__list .manage__list-item {
    padding: 1rem;
    gap: 1.5rem;
  }
  main section.manage .manage__list .manage__list-item button {
    width: 12%;
    padding: .8rem 1rem;
    font-weight: 700;
  }
  main section.manage .manage__list .manage__list-item p.item-title {
    color: #232c51;
    font-weight: 700;
    font-size: 1rem;
    line-height: 23px;
    letter-spacing: -0.015em;
  }
  main section.manage .manage__list .manage__list-item p.item-desc {
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #8f94a7;
    margin-left: 5.2rem;
    padding-right: 2.5rem;
  }
  main section.testimonials {
    padding: 3rem 0 6rem 0;
  }
  main section.testimonials .testimonials__carousel {
    -webkit-box-orient: horizontal;
    
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main section.call .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
        
            align-items: center;
  }
  main section.call .container h2 {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    text-align: left;
  }
}

footer {
  background-color: #1E1E26;
  padding: 3rem 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .container .footer-form {
  text-align: center;
}

footer .container .footer-form input {
  padding: .8rem 2rem;
  border-radius: 1.5rem;
}

footer .container .footer-form input:focus {
  outline: none;
}

footer .container .footer-links {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

footer .container .footer-links ul li {
  margin: 1rem 0;
}

footer .container .footer-logo {
  text-align: center;
}

footer .container .footer-logo img {
  width: 200px;
}

footer .container .footer-logo__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

footer .container .footer-logo__social li {
  display: inline;
  color: #fff;
  font-size: 2rem;
}

footer .container .footer-copy {
  text-align: center;
}

footer .container .footer-copy p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #8f94a7;
}

@media (min-width: 1430px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .container .footer-links {
    flex: 0 0 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  footer .container .footer-links ul li {
    margin: 0 0 1rem 0;
  }
  footer .container .footer-copy {
    flex: 0 0 100%;
    order: 2;
    text-align: right;
  }
  footer .container .footer-logo {
    order: -1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 25%;
  }
  footer .container .footer-logo img {
    width: 150px;
  }
  footer .container .footer-logo__social {
    order: 1;
    justify-content: flex-start;
    gap: 1rem;
  }
  footer .container .footer-logo__social li {
    font-size: 1.5rem;
  }
  footer .container .footer-form {
    order: 1;
    flex: 0 0 30%;
    text-align: right;
  }
}